#
# JDBC properties
#
spring.datasource.url=jdbc:mysql://localhost:3306/ayzek_webtemplate?useSSL=false&serverTimezone=UTC
spring.datasource.username=ayzekad
spring.datasource.password=test
hibernate.dialect = org.hibernate.dialect.MySQLDialect

# Spring Boot
server.port=

# Spring Boot Actuator
management.endpoint.info.enabled=true
management.endpoints.web.exposure.include=health,info
management.endpoint.health.show-details=always

# Logging
logging.level.root=DEBUG
logging.level.com.ayzekstudio=DEBUG
